.input-group.input-compact {
  .form-control,
  .btn {
    padding: 0.15rem 0.4rem;
    font-size: 0.75rem;
    height: 1.75rem;
    line-height: 1;
  }

  .btn i {
    font-size: 0.75rem;
    line-height: 1;
  }
}
